:root[data-theme="morning"] {
	--radius-base: 6px;

	--radius-xs: calc(var(--radius-base) * 0.25);
	--radius-sm: calc(var(--radius-base) * 0.5);
	--radius-md: var(--radius-base);
	--radius-lg: calc(var(--radius-base) * 1.5);
	--radius-xl: calc(var(--radius-base) * 2);

	--background: oklch(0.963 0.0182 70.24);
	--surface: oklch(0.9731 0.0141 74.43);
	--foreground: oklch(0.2705 0.0039 308.3);
	--border: oklch(0.9097 0.0104 67.69);

	--tooltip: oklch(0.1985 0.0123 353.84);
	--tooltip-foreground: oklch(0.6956 0 353.84);

	--input: oklch(91.973% 0.00413 285.946);
	--input-foreground: oklch(0.2341 0.0186 107.75);
	--input-placeholder: oklch(55.648% 0.0126 274.738);
	--input-border: oklch(0.4349 0.0296 276.66);

	--modal: oklch(0.9731 0.0141 74.43);
	--modal-foreground: oklch(0.2705 0.0039 308.3);

	--muted: oklch(0.6814 0.0045 301.39);
	--muted-foreground: oklch(0.6814 0.0045 301.39);

	--accent: oklch(95% 0.025 95);
	--accent-foreground: oklch(0.2341 0.0186 107.75);

	--primary: oklch(0.8182 0.1299 131.44);
	--primary-foreground: oklch(0.2705 0.0039 308.3);

	--secondary: oklch(0.7217 0.0819 260.85);
	--secondary-foreground: oklch(0.2705 0.0039 308.3);

	--neutral: oklch(0.6956 0 353.84);
	--neutral-foreground: oklch(0.1985 0.0123 353.84);

	--success: oklch(0.7426 0.1053 152.33);
	--success-foreground: oklch(0.2705 0.0039 308.3);

	--info: oklch(0.7268 0.1347 272.36);
	--info-foreground: oklch(0.2705 0.0039 308.3);

	--warning: oklch(0.8455 0.1485 94.12);
	--warning-foreground: oklch(0.2705 0.0039 308.3);

	--destructive: oklch(0.6534 0.2111 30.92);
	--destructive-foreground: oklch(0.2705 0.0039 308.3);

	--energy: oklch(94.002% 0.16691 113.592);
	--lighting: oklch(84.782% 0.11542 90.278);
	--comfort: oklch(73.205% 0.09059 158.433);
	--temperature: oklch(70% 0.15 35);
	--humidity: oklch(68% 0.14 240);
	--pressure: oklch(72% 0.12 170);

	--network: oklch(72% 0.12 170);
	--download: oklch(0.6522 0.1235 284.59);
	--upload: oklch(0.7791 0.0972 155.93);

	--security: oklch(60% 0.22 28);
	--automation: oklch(66% 0.18 290);
	--car: oklch(88.449% 0.08587 182.932);

	--temperature-excessive: oklch(59.029% 0.23425 29.159);
	--temperature-low: oklch(77.127% 0.12352 236.719);
}

[data-slot="card"] {
	@apply shadow-sm;
}
